@model List<EatFast_Menux.Domain.Entities.Pedido>

@{
    ViewData["Title"] = "Listado de Pedidos";
}

<h2>Pedidos</h2>

<a asp-action="Crear" class="btn btn-primary">Crear Nuevo Pedido</a>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>Total (Estimado)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pedido in Model)
        {
            <tr>
                <td>@pedido.ClienteNombre</td>
                <td>@pedido.Fecha.ToShortDateString()</td>
                <td>@pedido.CalcularTotal().ToString("C")</td>
            </tr>
        }
        </tbo
